[submodule "cookbooks/python"]
	path = cookbooks/python
	url = git://github.com/opscode-cookbooks/python.git
[submodule "cookbooks/nginx"]
	path = cookbooks/nginx
	url = git://github.com/opscode-cookbooks/nginx.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = git://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = git://github.com/opscode-cookbooks/openssl.git
[submodule "cookbooks/application"]
	url = git://github.com/opscode-cookbooks/application.git
	path = cookbooks/application
[submodule "cookbooks/ohai"]
	path = cookbooks/ohai
	url = git://github.com/opscode-cookbooks/ohai.git
[submodule "cookbooks/gunicorn"]
	path = cookbooks/gunicorn
	url = git://github.com/opscode-cookbooks/gunicorn.git
